icecream
git+https://github.com/JacobARose/lightning-hydra-classifiers.git
matplotlib
modin
numpy
opencv-python
pandarallel
pandas
Pillow
torch>=1.7
# torchdataset
git+https://github.com/szymonmaszke/torchdatasets.git@v0.2.0#
torchvision
rich
swifter
tqdm
