attrs
icecream
# opencv-python
# =======
git+https://github.com/JacobARose/lightning-hydra-classifiers.git
hydra-core>=1.1
matplotlib
modin
more_itertools
munch
numpy==1.19
omegaconf
opencv-python-headless
pandarallel
pandas
Pillow
rich
# =======
antlr4-python3-runtime
iniconfig
pluggy
plumbum
py
pytest
flake8
pre-commit
Sphinx
scikit-learn
scikit-image
seaborn
toml

#torch==1.7.1+cu101 -f https://download.pytorch.org/whl/torch_stable.html
#torchvision==0.8.2+cu101 -f https://download.pytorch.org/whl/torch_stable.html

# Corresponds to torchdatasets==0.2.0 except includes minor fix to allow torch<1.9
git+git://github.com/szymonmaszke/torchdatasets.git@0389feea2c23657440f9ba9a1af976f436aa3440
swifter
tqdm
wandb
